.boton-clear	{
	height: 60px;
	font-size: 1.6em;
	display: flex;
	/* the button will fill all the space */
	flex: 1;
	background-color: #ac0246;
	margin-top: 8px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: antiquewhite;
	border: 2px solid whitesmoke;
	border-radius: 12%;
	cursor: pointer;
}

.boton-clear:hover{
	background-color: #ebb000;
}